*{
    margin: 0;
}
/* nav bar formatting */
.navbar{
    overflow: hidden;
    background-color: Black;
}

.navbar a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a.active {
    float: right;
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px 16px;
    font-size: 20px;
}


.navbar h1{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}
.navbar .icon {
  display: none;
}
/* nav bar responsive-ness stuff*/
@media screen and (max-width: 750px) {
  .navbar a {display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
    color: White;
  }
}
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* container formatting */
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.container .section{
    position: relative;
    width: 100%;
    height: 100%;
}

.container .section .content{
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    max-width: 2000px;
    background: rgba(255, 255, 255, 0.5);
}

/* text formatting */
.container .section .content h2{
    font-weight: bold;
    font-size: 60px;
}

.container .section .content h3{
    font-weight: bold;
    font-family: 'Courier New', monospace;
    font-size: 25px;
    padding: 10px;
}

.container .section .content h4{
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

.container .section .content p{
    padding: 10px;
    font-size: 20px;
    font-family: 'Courier New', monospace;
}

/* background formatting */
.container .section:nth-child(1){
    background: url(bkg4.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(2){
    background: url(bkg1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(3){
    background: url(bkg3.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(4){
    background: url(bkg2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(5){
    background: url(bkg4.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(6){
    background: url(bkg1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(7){
    background: url(bkg3.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(8){
    background: url(bkg2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(9){
    background: url(bkg4.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(10){
    background: url(bkg1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* photo formatting */
.container .section .content img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}
